---
#
# Ansible playbook for a developer server featuring Consul
# for service discovery.
#
# @author Chris Stevens (2016)
#


- hosts: all
  gather_facts: yes

  vars:
    consul_datacenter: local
    consul_bootstrap_expect: 1

  roles:
    - role: supervisor
      supervisor_bin_dir: /usr/bin
      tags:
        - supervisor

    - role: consul
      consul_is_server: true
      # consul_node_name: "{{ consul_name_prefix }}::{{ ansible_ec2_instance_id }}"
      # consul_bind_address: "{{ ansible_default_ipv4['address'] }}"
      consul_install_dnsmasq: true
      tags:
        - consul
